$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkcyan: hsl(167, 40%, 24%);
$darkblue: hsl(198, 62%, 26%);
$moderatecyan: hsl(168, 34%, 41%); /* Neutral colours */
$desaturatedblue: hsl(212, 27%, 19%);
$vdarkgrayblue: hsl(213, 9%, 39%);
$darkgreyblue: hsl(232, 10%, 55%);
$greyblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$whitealpha: hsla(0, 0%, 100%, 0.4);
